button {
    width: 50px;
    height: 10px;
}
.pageS {
    background-color: #ff0000;
    height: 30px;
    width: 70px;
}
.but {
    height: 75px;
    margin: 0px;
    padding: 0px;
}

.but:hover {
    background-color: #ff0000;
}