#but1 {
    position: absolute;
    left: 10%;
    width: 20%;
    height: 60%;
    background-color: #000000;
}

#but2 {
    position: absolute;
    left: 30%;
    width: 20%;
    height: 60%;
    background-color: #000000;
}

#but3 {
    position: absolute;
    left: 50%;
    width: 20%;
    height: 60%;
    background-color: #000000;
}

#but4 {
    position: absolute;
    left: 70%;
    width: 20%;
    height: 60%;
    background-color: #000000;
}



#stopp {
    position: absolute;
    left: 0%;
    width: 90px;
    height: 30px;
}

#next {
    position: absolute;
    left: 15%;
    top: 85%;
    width: 5%;
    height: 3%;
    visibility: hidden;

}